<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dataflow -->
      <package
            uri="http://transformation-tool-contest.eu/2016/dataflow"
            class="eu.ttc.dataflow.model.dataflow.DataflowPackage"
            genModel="model/dataflow.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated launchConfiguration -->
      <package
            uri="http://transformation-tool-contest.eu/2016/launch"
            class="eu.ttc.dataflow.model.launchConfiguration.LaunchConfigPackage"
            genModel="model/launchConfiguration.genmodel"/>
   </extension>

</plugin>
