<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dataflow -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dataflow.presentation.DataflowModelWizardID"
            name="%_UI_DataflowModelWizard_label"
            class="dataflow.presentation.DataflowModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataflowModelFile.gif">
         <description>%_UI_DataflowModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dataflow -->
      <editor
            id="dataflow.presentation.DataflowEditorID"
            name="%_UI_DataflowEditor_label"
            icon="icons/full/obj16/DataflowModelFile.gif"
            extensions="dataflow"
            class="dataflow.presentation.DataflowEditor"
            contributorClass="dataflow.presentation.DataflowActionBarContributor">
      </editor>
   </extension>

</plugin>
