<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eu.ttc.dataflow.interpreter.batch/src/eu/ttc/dataflow/interpreter/batch/Launcher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eu.ttc.dataflow.interpreter.batch.Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${resource_loc:/eu.ttc.dataflow.examples.flowchart2html/flowchart2html.launchconfig}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eu.ttc.dataflow.interpreter.batch"/>
</launchConfiguration>
